<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="Poppy_Humanoid_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="l_shoulder_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_shoulder_x">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_arm_z">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_arm_z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_elbow_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_elbow_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_shoulder_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_shoulder_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_shoulder_x">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_shoulder_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_arm_z">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_arm_z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_elbow_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_elbow_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_hip_x">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_hip_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_hip_z">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_hip_z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_hip_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_hip_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_knee_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_knee_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_ankle_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_ankle_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_hip_x">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_hip_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_hip_z">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_hip_z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_hip_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_hip_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_knee_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_knee_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_ankle_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_ankle_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="abs_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['abs_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="abs_x">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['abs_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="abs_z">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['abs_z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bust_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bust_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bust_x">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bust_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="head_z">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['head_z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="head_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['head_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
